[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
mypy = "*"
isort = "*"
black = "==21.10b"

[packages]
metpy = "*"
numpy = "*"
requests = "*"
bs4 = "*"

[requires]
python_version = "3.8"

[scripts]
flake8 = "flake8 ."
black = "black ."
mypy = "mypy ."
isort = "isort . --atomic"
